.attribute-image {
  height: 12px;
  width: auto;
  vertical-align: middle;
}

.attribute-image-empty {
  filter: grayscale(100%);
  opacity: 0.3;
}

.attributes-container {
  display: flex;
  width: 100%;
}

.attribute-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 4px;
  width: 100%;
}

.attribute-row:last-child {
  margin-bottom: 0;
}

.attribute-text {
  margin-right: 8px;
}

.attribute-images {
  display: flex;
  flex-direction: column;
  gap: 4px;
  margin-left: auto;
  align-items: flex-end;
} 